"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-min-ui"
      "min-syntax"
    ]
    titleBar: "custom"
  "exception-reporting":
    userId: "168ad1c5-77f3-4dec-8cc0-3f8663ae643c"
  "no-title-bar": {}
  welcome:
    showOnStartup: false
