kwmc rule owner="FirefoxDeveloperEdition" properties={space="web"}
kwmc rule owner="Firefox" properties={space="web"}
kwmc rule owner="FirefoxNightly" properties={space="web"}

kwmc rule owner="Steam" properties={space="games", float="true"}


kwmc rule owner="Finder" properties={role="AXDialog"; float="true"} except="..*"

kwmc rule owner="Finder" properties={role="AXDialog"}
kwmc rule name="PhpStorm, Go to Line/Column" properties={float="true"}
kwmc rule name="React Native Debugger 🔊" properties={float="true"}
kwmc rule owner="Simulator" properties={float="true"}
kwmc rule owner="iTerm2" properties={role="AXDialog"}
