/*
 * GLOBALS
 */
.foreground {
  color: #BCC7C5;
}

.highlight {
  color: #31698A;
}

.highlight-bg {
  background-color: #58665B;
}

.background {
  background-color: #282F23;
  width: 100%;
  height: 23px;
}

.screen-icon {
  display: inline-block;
  float: left;
  padding: 1px 6.5px 0 3px;
  height: 22px;
}

.progress-bar {
  background-color: #58665B;
  /* border: 1px black solid; */
  border-radius: 5px;
  min-height: 18px;
  min-width: 100px;
  width: 100%;
}

.progress-bar .progress {
  min-height: 18px;
  background-color: #225555;
  border-radius: 5px;
  /* border-right: 1px green solid; */
}